.multi-select{

}

.multi-select > .no-items {
}

.multi-select > .chooser {
  position: absolute;
  max-height: 400px;
  overflow-y: scroll;
}

.multi-select label,
.multi-select input {
  display: inline-block;
  cursor: pointer;
}

