extends ../base

block content
  div(ng-controller="MainController")
    button-bar(
      ng-model="selectedButtons", 
      button-provider="availableButtons")
    br/
    | {{selectedButtons}}
    br/
    | {{availableButtons}}
    br/
    button-bar(
      ng-model="two.selected", 
      button-provider="two.available")
    br/
    | {{two.selected}}
    br/
    | {{two.available}}

