extends ../base

block head
    script(type="text/javascript", src="/components/underscore/underscore-min.js")
    script(type="text/javascript", src="/components/jsx-graph/jsxgraphcore.js")
block content
  div(ng-controller='MainController')
    div(class="row")
      div(class="span2")
        p Point A:
        p x:
        input(type="text", style="width: 80px;", ng-model="points.A.x")
        p y: 
        input(type="text", style="width: 80px;", ng-model="points.A.y")
      div(class="span2")
        p Point B:
        p x: 
        input(type="text", style="width: 80px;", ng-model="points.B.x")
        p y: 
        input(type="text", style="width: 80px;", ng-model="points.B.y")
      div(class="span5")
        div(jsx-graph, 
        board-params="boardParams", 
        points="points", 
        max-points="2",
        scale="1")
    div(class="row")
      p {{equation}}