doctype 5
html(xmlns="http://www.w3.org/1999/html")
  head
    title= title
    link(rel="stylesheet", href="/components/bootstrap/css/bootstrap.css")
    script(type="text/javascript", src="/components/jquery/jquery.min.js")
    script(type="text/javascript", src="/components/angular/angular.min.js")
    block head
  body
    block content
    block scripts