extends ../base

block content
  div(ng-controller="MainController")
    h5 This element won't allow 'banana' to be entered
    div(
      content-editable,
      ng-model="someText",
      content-id="{{idOne}}",
      validate-change="validateChange(text,id,callback)")
      | Here is some text

    input(ng-model="someText")
    div(style="background-color: rgba(0,0,0,0.1)", ng-bind="someText")

    hr/
    div( content-editable, ng-model="someTextTwo")
      | Here is some text two

    input(ng-model="someTextTwo")
    div(style="background-color: rgba(0,0,0,0.1)", ng-bind="someTextTwo")


