<html ng:app="exampleApp">
<head>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
  <script type="text/javascript" src="js/corespring-ng-components.js"></script>
  <script type="text/javascript" src="js/confirm-popup-example.js"></script>

  <link rel="stylesheet" href="bootstrap/css/bootstrap.css"></link>
</head>
<body ng:controller="MainController">
  <div confirm-popup ng-model="selected">
    <h2>remove?</h2>
    <p>Are you sure?</p>
    <button id="confirm">Yes</button>
    <button id="cancel">No</button>
  </div>


  <div confirm-popup ng-model="nested.selected" confirmed="onConfirmed" cancelled="onCancelled">
    <h2>remove?</h2>
    <p>Are you sure?</p>
    <button id="confirm">Yes</button>
    <button id="cancel">No</button>
  </div>

    <input type="checkbox" ng-model="selected">Selected</input>
    <input type="checkbox" ng-model="nested.selected">Selected</input>

</body>
</html>